

.carouselContainer {
    position: relative;
    width: 100%;
    min-width: 700px;
    max-width: 1300px;
    margin: auto;
    background: #000;
  }
  
  .slide {
    position: relative;
    height: 400px;
    overflow: hidden;
    /* width: 400px !important; */
  }
  
  .slideContent {
    position: absolute;
  }
  
  .navigation {
    position: absolute;
    top: 50%;
    width: 100%;
    min-width: 700px;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none; /* Ensure buttons don't interfere with card interactions */
  }
  
  .prevButton, .nextButton {
    pointer-events: auto; /* Allow button clicks */
  }
  
  .prevButton {
    position: absolute;
    left: -50px; /* Adjust to place the arrow outside the card */
  }
  
  .nextButton {
    position: absolute;
    right: -50px; /* Adjust to place the arrow outside the card */
  }
  
  .prevButton img, .nextButton img {
    width: 30px; /* Adjust the size as needed */
    height: auto;
  }
  