.container {
  display: flex;
  justify-content: center; 
  align-items: center;  
  padding: 0 40px;       

  box-sizing: border-box; 
}

.subscribeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  max-width: 1300px;
  min-width: 670px;
  width: 100%;
  margin: 40px ;
}

.imageContainer {
  flex: 0.5;
}

.image {
  margin-top: 6px;
  height: 350px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.contentContainer {
  flex: 1;
  height: 350px;
  background-color: #f4f4f4;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 30px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 10px;
}

.subheading {
  font-size: 16px;
  color: #8C8C8C;
  margin-bottom: 30px;
}

.inputContainer {
  width: 80%;
  display: flex;
  padding: 4px 4px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #ffffff;
}

.inputField {
  flex: 1.9;
  outline: none;
  border: none;
  padding: 0px 15px;
  border-radius: 8px;
  font-size: 14px;
}

.subscribeButton {
  background-color: #e57260;
  color: white;
  padding: 18px 42px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribeButton:hover {
  background-color: #de6957;
}

/* Media query for smaller screens */
@media (max-width: 670px) {

  .container {
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 0 20px;        
    
    box-sizing: border-box;
  }
  
  .subscribeContainer {
    flex-direction: column;
    max-width: 100%;
    min-width: 100%;
  }

  .inputField {
    width: 100%;
  }

  .subscribeButton {
    width: 100%;
  }

  .imageContainer {
    flex: 1;
  }

  .image {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin: 0px;
    height: 300px;
    width: 430px;
  }

  .contentContainer {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: -10px;
    max-width: 430px;
    min-width: 430px;
    min-height: 240px;
  }

  .inputContainer {
    width: 70%;
    display: flex;
    padding: 0px 0px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: #ffffff;
  }

  .subscribeButton {
    background-color: #e57260;
    color: white;
    width: 36%;
    padding: 16px 10px;
    border: none;
    border-radius: 8px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .heading {
    font-size: 22px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 8px;
  }

  .subheading {
    font-size: 14px;
    color: #8C8C8C;
    margin-bottom: 30px;
  }
}
@media (min-width: 670px) and (max-width: 949px) {

  .image {
    margin-top: 6px;
    height: 260px;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .contentContainer {
    flex: 1;
    height: 260px;
    background-color: #f4f4f4;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}
