.heroContainer {
    width: 100%;
    height: 50vh;
    position: relative;
    z-index: -1;
}

.image {
    z-index: -2;
    background-blend-mode: color;
}

.heroContainer h1{
    font-family: Poppins;
    font-size: 48px;
    font-weight: 700;
    line-height: 74.8px;
    text-align: center;
    color: var(--secondaryTextColor) !important;
    width: 80%;
    margin: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}



@media (max-width: 900px) {
    .heroContainer {
        height: 40vh;
    }
    .heroContainer h1{
        font-family: Poppins;
        font-size: 28px;
        font-weight: 700;
        line-height: 44.8px;
        text-align: center;
        color: var(--secondaryTextColor) !important;
        width: 80%;
        margin: auto;
    }
    
}
