.heroContainer {
    width: 100%;
    height: 50vh;
    background: linear-gradient(180deg, #0081B0 7.54%, rgba(1, 113, 155, 0) 29.76%) ,  url('../../public/hero-image.jpeg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

@media (max-width: 800px) {
    .heroContainer {
        height: 40vh;
    }
}
